{% extends 'base_admin.html' %}

{% block extra_css %}
    <link href="{{ url_for("static",filename = 'css/lib/data-table/buttons.bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for("static",filename = 'css/lib/sweetalert/sweetalert.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    {% include 'common/sidebar.html' %}
    <!-- /# sidebar -->
    {% include 'common/header.html' %}

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Listado de Juegos por Ligas</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url_for("admin.dashboard") }}">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active">Listado de Juegos por Ligas</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body p-b-0">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home2"
                                                            role="tab"><span class="hidden-sm-up"><i
                                            class="ti-home"></i></span> <span
                                            class="hidden-xs-down">Liga Santander</span></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile2"
                                                            role="tab"><span class="hidden-sm-up"><i
                                            class="ti-user"></i></span> <span
                                            class="hidden-xs-down">Liga Premier</span></a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home2" role="tabpanel">
                                        {% include 'match/table_santander.html' %}
                                    </div>
                                    <div class="tab-pane" id="profile2" role="tabpanel">
                                        {% include 'match/table_premier.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# row -->
                {% include 'common/footer.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{{ url_for("static", filename="js/lib/data-table/datatables.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/lib/data-table/dataTables.buttons.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/lib/data-table/buttons.flash.min.js") }}"></script>
    <script src="{{ url_for("static", filename= "js/lib/data-table/buttons.html5.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/lib/data-table/datatables-init.js") }}"></script>

    <script src="{{ url_for("static", filename="js/lib/sweetalert/sweetalert.min.js") }}"></script>

    <script>
        let today = new Date();
        $(".btn_upd_matches_result").click(function (evt) {
            let self = $(this)
            let league = self.data('league');
            let date_upd = $(".santander_date").val();

            if (league === "premier-league") {
                date_upd = $(".premier_date").val();
            }
            let str_date = date_upd.replace(/-/g, '');

            swal({
                    title: "Esta seguro de actualizar el estado de los partidos de " + league,
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                },
                function () {
                    $.ajax({
                        method: 'PATCH',
                        url: "{{ url_for('admin.update_matches_result_by_league_date') }}",
                        data: {'date': str_date, 'league_code': league},
                        success: function () {
                            setTimeout(function () {
                                swal("Genial!!", "El estado de los partidos han sido actualizados satisfactoriamente.", "success");
                            }, 1000);
                            setTimeout(function () {
                                window.location.reload()
                            }, 5000);
                        }
                    })
                });
        });

        $(".btn_upd_match").click(function (evt) {
            let self = $(this)
            let match_id = self.data('id');
            let date_obj = self.data('date');

            if(date_obj < today){
                swal({
                        title: "Esta seguro de actualizar el estado del partido",
                        text: "",
                        type: "info",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true,
                    },
                    function () {
                        $.ajax({
                            method: 'PATCH',
                            url: "{{ url_for('admin.update_match_by_id') }}",
                            data: {'match_id': match_id},
                            success: function () {
                                setTimeout(function () {
                                    swal("Genial!!", "El estado ha sido actualizados satisfactoriamente.", "success");
                                }, 1000);
                                setTimeout(function () {
                                    window.location.reload()
                                }, 4000);
                            }
                        })
                    });
            }else{
                swal("Ups!!", "No puedes actualizar aun este partido, no se ha jugado.", "error");
            }
        });


        let dd = today.getDate();
        let mm = today.getMonth() + 1;
        let yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = yyyy + '-' + mm + '-' + dd;
        $('.santander_date').attr("max", today);
        $('.santander_date').attr("value", today);
    </script>

{% endblock %}

