{% extends 'base_frontend.html' %}

{% block banner %}
    <div class="tg-banner tg-haslayout">
        <div class="tg-imglayer">
            <img src="{{ url_for("static", filename="images/bg-pattran.png") }}" alt="image desctription">
        </div>
        <div class="container">
            <div class="row">
                <div class="tg-banner-content tg-haslayout">
                    <div class="tg-pagetitle">
                        <h1>Liga Santander</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block main %}
    <main id="tg-main" class="tg-main tg-haslayout">
        <!--************************************
                Fixtures Start
        *************************************-->
        <section class="tg-main-section tg-haslayout">
            <div class="container">
                <div class="tg-section-name">
                    <h2>Partidos</h2>
                </div>
                <div class="col-sm-11 col-xs-11 pull-right">
                    <div class="row">
                        <div class="tg-latestresult">
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h4>Próximos Partidos</h4>
                                            <div class="row">
                                                <div id="tg-otherfixtures-slider"
                                                     class="tg-otherfixtures-slider tg-tickets">
                                                    <div class="swiper-wrapper">
                                                        {% for match in next_matches %}
                                                            <div class="swiper-slide">
                                                                <div class="tg-ticket">
                                                                    <time class="tg-matchdate">{{ match.start.strftime('%d') }}
                                                                        <span>{{ match.start.strftime('%b') }}</span>
                                                                    </time>
                                                                    <div class="tg-matchdetail" style="width: 460px">
                                                                        <span class="tg-theme-tag">Liga Santander</span>
                                                                        <h4>
                                                                            <img src="{{ url_for("static", filename="images/flag/") + match.team_1_id+".png" }}"
                                                                                 style="width: 9%">
                                                                            {{ match.team_1_name }}
                                                                            <span> vs </span>
                                                                            <img src="{{ url_for("static", filename="images/flag/") + match.team_2_id+".png" }}"
                                                                                 style="width: 9%">
                                                                            {{ match.team_2_name }}
                                                                        </h4>
                                                                        <ul class="tg-matchmetadata">
                                                                            <li>
                                                                                <time>16:30 PM</time>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="tg-btnsbox">
                                                                        <a class="tg-btn"
                                                                           href="{{ url_for('frontend.match_detail',match_id=match.match_id) }}">ver</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="tg-themebtnnext"><span class="fa fa-angle-down"></span>
                                                    </div>
                                                    <div class="tg-themebtnprev"><span class="fa fa-angle-up"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <h4>Partidos Terminados</h4>
                                    <div id="tg-matchscrollbar" style="height: 620px;" class="tg-matchscrollbar tg-allmatchstatus">
                                        <ul class="tg-matchtabnav" role="tablist">
                                            {% for match_finish in finish_matches %}
                                                <li role="presentation">
                                                    <a href="{{ url_for('frontend.match_detail',match_id=match_finish.match_id) }}">
                                                        <div class="tg-match">
                                                            <div class="tg-box">
                                                                <strong class="tg-teamlogo">
                                                                    <img src="{{ url_for("static", filename="images/flag/") + match_finish.team_1_id+".png" }}">
                                                                </strong>
                                                                {% if match_finish.team_1_score>match_finish.team_2_score %}
                                                                    <h4>win</h4>
                                                                {% else %}
                                                                    <h4>Lost</h4>
                                                                {% endif %}
                                                            </div>
                                                            <div class="tg-box">
                                                                <h3>{{ match_finish.team_1_score }}
                                                                    - {{ match_finish.team_2_score }}</h3>
                                                            </div>
                                                            <div class="tg-box">
                                                                <strong class="tg-teamlogo">
                                                                    <img src="{{ url_for("static", filename="images/flag/") + match_finish.team_2_id+".png" }}">
                                                                </strong>
                                                                {% if match_finish.team_2_score>match_finish.team_1_score %}
                                                                    <h4>win</h4>
                                                                {% else %}
                                                                    <h4>Lost</h4>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--************************************
                Fixtures End
        *************************************-->
        <!--************************************
                Points Table Start
        *************************************-->
        <section class=" tg-haslayout tg-bgstyletwo">
            <div class="tg-bgboxone"></div>
            <div class="tg-bgboxtwo"></div>
            <div class="tg-bgpattrant">
                <div class="container">
                    <div class="row">
                        <div class="tg-pointstablewrapper">
                            <div class="col-sm-8 col-xs-12">
                                <div class="tg-pointstable">
                                    <div class="tg-section-heading"><h2>Tabla de posiciones</h2>
                                    </div>
                                    <div id="tg-pointstable-slider" class="tg-pointstable-slider">
                                        <div class="swiper-wrapper">
                                            {% for team in table %}
                                                <div class="swiper-slide">
                                                    <div class="tg-pointtable">
                                                        <div class="tg-box">
                                                            <img style="width: 8%;" src="{{ url_for("static", filename="images/flag/") + team.team_id+".png" }}">
                                                            {{ team.team_name }}
                                                        </div>
                                                        <div class="tg-box">Win {{ team.won}}</div>
                                                        <div class="tg-box">Lost {{ team.lost}}</div>
                                                        <div class="tg-box">Points {{ team.points}}</div>
                                                        <div class="tg-box">Played {{ team.games_played}}</div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="tg-themebtnnext"><span class="fa fa-angle-down"></span></div>
                                        <div class="tg-themebtnprev"><span class="fa fa-angle-up"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12 hidden-xs">
                                <figure>
                                    <img src="{{ url_for("static", filename="images/img-03.png") }}"
                                         alt="image description">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--************************************
                Points Table End
        *************************************-->
    </main>
{% endblock %}

