{% extends 'base_frontend.html' %}

{% block banner %}
    <div class="tg-banner tg-haslayout">
        <div class="tg-imglayer">
            <img src="{{ url_for("static", filename="images/bg-pattran.png") }}" alt="image desctription">
        </div>
        <div class="container">
            <div class="row">
                <div class="tg-banner-content tg-haslayout">
                    <div class="tg-pagetitle">
                        <h1>Liga Santander</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block main %}
    <main id="tg-main" class="tg-main tg-haslayout">
        <!--************************************
                Fixtures Start
        *************************************-->
        <section class="tg-main-section tg-haslayout">
            <div class="container">
                <div class="tg-section-name">
                    <h2>Partidos</h2>
                </div>
                <div class="col-sm-11 col-xs-11 pull-right">
                    <div class="row">
                        <div class="tg-latestresult">
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div id="tg-otherfixtures-slider"
                                                     class="tg-otherfixtures-slider tg-tickets">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <div class="tg-ticket">
                                                                <time class="tg-matchdate">27<span>Junio</span></time>
                                                                <div class="tg-matchdetail">
                                                                    <span class="tg-theme-tag">Liga Santander</span>
                                                                    <h4>Real Madrid <span>vs</span> Getafe</h4>
                                                                    <ul class="tg-matchmetadata">
                                                                        <li>
                                                                            <time datetime="2016-05-03">16:30 PM</time>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="tg-btnsbox">
                                                                    <a class="tg-btn" href="#">ver</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tg-themebtnnext"><span class="fa fa-angle-down"></span>
                                                    </div>
                                                    <div class="tg-themebtnprev"><span class="fa fa-angle-up"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div id="tg-matchscrollbar" class="tg-matchscrollbar tg-allmatchstatus">
                                        <ul class="tg-matchtabnav" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#one" aria-controls="one" role="tab" data-toggle="tab">
                                                    <div class="tg-match">
                                                        <div class="tg-box">
                                                            <strong class="tg-teamlogo">
                                                                <img src="{{ url_for("static", filename="images/team-logo/logo-s-01.png") }}"
                                                                     alt="image description">
                                                            </strong>
                                                            <h4>win</h4>
                                                        </div>
                                                        <div class="tg-box">
                                                            <h3>6 - 4</h3>
                                                        </div>
                                                        <div class="tg-box">
                                                            <strong class="tg-teamlogo">
                                                                <img src="{{ url_for("static", filename="images/team-logo/logo-s-01.png") }}"
                                                                     alt="image description">
                                                            </strong>
                                                            <h4>lose</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#two" aria-controls="two" role="tab" data-toggle="tab">
                                                    <div class="tg-match">
                                                        <div class="tg-box">
                                                            <strong class="tg-teamlogo">
                                                                <img src="{{ url_for("static", filename="images/team-logo/logo-s-01.png") }}"
                                                                     alt="image description">
                                                            </strong>
                                                            <h4>win</h4>
                                                        </div>
                                                        <div class="tg-box">
                                                            <h3>6 - 4</h3>
                                                        </div>
                                                        <div class="tg-box">
                                                            <strong class="tg-teamlogo">
                                                                <img src="{{ url_for("static", filename="images/team-logo/logo-s-01.png") }}"
                                                                     alt="image description">
                                                            </strong>
                                                            <h4>lose</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#three" aria-controls="three" role="tab" data-toggle="tab">
                                                    <div class="tg-match">
                                                        <div class="tg-box">
                                                            <strong class="tg-teamlogo">
                                                                <img src="{{ url_for("static", filename="images/team-logo/logo-s-01.png") }}"
                                                                     alt="image description">
                                                            </strong>
                                                            <h4>win</h4>
                                                        </div>
                                                        <div class="tg-box">
                                                            <h3>6 - 4</h3>
                                                        </div>
                                                        <div class="tg-box">
                                                            <strong class="tg-teamlogo">
                                                                <img src="{{ url_for("static", filename="images/team-logo/logo-s-01.png") }}"
                                                                     alt="image description">
                                                            </strong>
                                                            <h4>lose</h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tg-btnbox">
                                        <a class="tg-btn" href="#"><span>Ver todos</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--************************************
                Fixtures End
        *************************************-->
        <!--************************************
                Points Table Start
        *************************************-->
        <section class=" tg-haslayout tg-bgstyletwo">
            <div class="tg-bgboxone"></div>
            <div class="tg-bgboxtwo"></div>
            <div class="tg-bgpattrant">
                <div class="container">
                    <div class="row">
                        <div class="tg-pointstablewrapper">
                            <div class="col-sm-8 col-xs-12">
                                <div class="tg-pointstable">
                                    <div class="tg-section-heading"><h2>Tabla de posiciones de la liga santander</h2>
                                    </div>
                                    <div id="tg-pointstable-slider" class="tg-pointstable-slider">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="tg-pointtable">
                                                    <div class="tg-box">Real Madrid</div>
                                                    <div class="tg-box">Win 21</div>
                                                    <div class="tg-box">Lost 20</div>
                                                    <div class="tg-box">Points 21</div>
                                                    <div class="tg-box">Played 22</div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="tg-pointtable">
                                                    <div class="tg-box">Barca</div>
                                                    <div class="tg-box">Win 21</div>
                                                    <div class="tg-box">Lost 20</div>
                                                    <div class="tg-box">Points 21</div>
                                                    <div class="tg-box">Played 22</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tg-themebtnnext"><span class="fa fa-angle-down"></span></div>
                                        <div class="tg-themebtnprev"><span class="fa fa-angle-up"></span></div>
                                    </div>
                                    <div class="tg-btnbox">
                                        <a class="tg-btn" href="#"><span>view all</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12 hidden-xs">
                                <figure>
                                    <img src="{{ url_for("static", filename="images/img-03.png") }}" alt="image description">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--************************************
                Points Table End
        *************************************-->
    </main>
{% endblock %}

