<div class="tg-modalbox modal fade" id="modal-pronostico-detail" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="tg-modal-content">
            <div class="tg-formarea">
                <div class="tg-border-heading">
                    <h3>Pronosticar Resultado</h3>
                </div>
                <fieldset style="border: none">
                    <div class="form-group">
                        <label for="team_1">{{ team_1.team_name}}</label>
                        <input type="number" id="team_1" name="team_1_prediction" class="form-control"
                               placeholder="Goles">
                    </div>
                    <div class="form-group">
                        <label for="team_2">{{ team_2.team_name}}</label>
                        <input type="number" id="team_2" name="team_2_prediction" class="form-control"
                               placeholder="Goles">
                    </div>
                    <div class="form-group">
                        <button id="btn_add_modal" class="tg-btn tg-btn-lg">Aceptar</button>
                        <button id="btn_cancel_modal" class="tg-btn tg-btn-lg">Cancelar</button>
                    </div>
                </fieldset>
            </div>
            <div class="tg-logintype">
                <div class="tg-border-heading">
                    <h3>Estadisticas</h3>
                    <h5 id="team_1_name">{{ team_1.team_name}}</h5>
                    <span style="font-weight: bold">Ganados:</span> <span id="win_team_1">{{ team_1.won}} </span>&nbsp;&nbsp;
                    <span style="font-weight: bold">Perdidos:</span> <span id="lost_team_1">{{ team_1.lost}}</span>

                    <h5 style="margin-top: 37px;" id="team_2_name">{{ team_2.team_name}}</h5>
                    <span style="font-weight: bold">Ganados:</span> <span id="win_team_2">{{ team_2.won}}</span> &nbsp;&nbsp;
                    <span style="font-weight: bold">Perdidos:</span> <span id="lost_team_2">{{ team_1.lost}}</span>
                </div>
            </div>
        </div>
    </div>
</div>