{% extends 'base_admin.html' %}

{% block extra_css %}
    <link href="{{ url_for("static",filename = 'css/lib/data-table/buttons.bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for("static",filename = 'css/lib/sweetalert/sweetalert.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    {% include 'common/sidebar.html' %}
    <!-- /# sidebar -->
    {% include 'common/header.html' %}

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Moderación de Comentarios</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url_for("admin.dashboard") }}">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active">Moderación de Comentarios</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="bootstrap-data-table-panel">
                                    <div class="table-responsive">
                                        <table id="data-table-moderation"
                                               class="table-margin table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Usuario</th>
                                                <th>Partido</th>
                                                <th>Comentario</th>
                                                <th>Estado</th>
                                                <th>Fecha</th>
                                                <th style="text-align: center">Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for comment in comments %}
                                                <tr>
                                                    <td>{{ comment.user.name }}</td>
                                                    <td>{{ comment.match.team_1_name }}
                                                        - {{ comment.match.team_2_name }}</td>
                                                    <td>{{ comment.content }}</td>
                                                    <td style="width: 10%">
                                                        <select class="select_state_comment input-sm form-control"
                                                                data-id={{ comment.id }}>
                                                            <option {% if comment.state %}
                                                                selected="selected" {% endif %} value="1">Publicado
                                                            </option>
                                                            <option {% if not comment.state %}
                                                                selected="selected" {% endif %} value="0">No Publicado
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td style="width: 10%">{{ comment.created }}</td>
                                                    <td style="text-align: center">
                                                        <a class="btn_del_comment" style="cursor: pointer"
                                                           data-id={{ comment.id }}> <span
                                                                class="badge badge-danger"><i
                                                                class="ti ti-trash"></i> </span></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->
                    <!-- /# footer -->
                    {% include 'common/footer.html' %}
                </section>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{{ url_for("static", filename="js/lib/data-table/datatables.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/lib/data-table/dataTables.buttons.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/lib/data-table/buttons.flash.min.js") }}"></script>
    <script src="{{ url_for("static", filename= "js/lib/data-table/buttons.html5.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/lib/data-table/datatables-init.js") }}"></script>
        <script src="{{ url_for("static", filename="js/lib/sweetalert/sweetalert.min.js") }}"></script>

    <script>
    $(".btn_del_comment").click(function (evt) {
            let self = $(this)
            let id_comment = self.data('id');

            swal({
                    title: "Esta seguro de eliminar el comentario.",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                },
                function () {
                    $.ajax({
                        method: 'DELETE',
                        url: "{{ url_for('admin.delete_comment') }}",
                        data: {'id_comment': id_comment},
                        success: function () {
                            setTimeout(function () {
                                self.parents("tr").remove();
                                swal("Eliminado!!", "El comentario ha sido eliminado satisfactoriamente.", "success");
                            }, 1000);
                        }
                    })
                });
        });

    $('.select_state_comment').on('change', function () {
            let self = $(this)
            let id_comment = self.data('id');
            let val = this.value
            swal({
                    title: "Esta seguro de actualizar el estado del comentario.",
                    text: "",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                },
                function () {
                    $.ajax({
                        method: 'PATCH',
                        url: "{{ url_for('admin.update_state_comment') }}",
                        data: {'id_comment': id_comment, 'state': val},
                        success: function () {
                            setTimeout(function () {
                                swal("Genial!!", "El estado ha sido actualizado satisfactoriamente.", "success");
                            }, 1000);
                        }
                    })
                });
        });
    </script>


{% endblock %}



