{% extends 'base_auth.html' %}
{% block content %}
    <div class="col-lg-8">
        <div class="login-content">
        <div class="login-logo">
            <a href="#"><span>Info Soccer 360</span></a>
        </div>
        <div class="login-form">
            <h4>Registro</h4>
            {% if error %}
                <p style="color: red;"><strong>Error:</strong> {{ error }}
            {% endif %}
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre</label>
                            {{ form.name(size=64,class="form-control", placeholder="Nombre") }}
                            {% for error in form.name.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Apellidos</label>
                            {{ form.last(size=64,class="form-control", placeholder="Apellidos") }}
                            {% for error in form.last.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Correo</label>
                            {{ form.email(class="form-control", placeholder="Correo") }}
                            {% for error in form.email.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Teléfono</label>
                            {{ form.phone(class="form-control", placeholder="Teléfono") }}
                            {% for error in form.phone.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contraseña</label>
                            {{ form.password(class="form-control", placeholder="Contraseña") }}
                            {% for error in form.password.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Repite la Contraseña</label>
                            {{ form.password2(class="form-control", placeholder="Repite Contraseña") }}
                            {% for error in form.password2.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {{ form.submit(class="btn btn-primary btn-flat m-b-30 m-t-30") }}
                <div class="register-link m-t-15 text-center">
            <p>Ya tienes una cuenta? <a href="{{ url_for('auth.login') }}"> Acceder </a></p>
        </div>
        </form>
    </div>
    </div>
{% endblock %}
