{% extends 'base_admin.html' %}

{% block content %}

    {% include 'common/sidebar.html' %}
    <!-- /# sidebar -->
    {% include 'common/header.html' %}

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Actualizar Usuario</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{{ url_for("admin.dashboard") }}">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active">Actualizar Usuario</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <!-- /# row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Datos del Usuario</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-elements">
                                        <form action="" method="post" novalidate>
                                            {{ form.hidden_tag() }}
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Nombre</label>
                                                        {{ form.name(size=64,class="form-control", placeholder="Nombre") }}
                                                        {% for error in form.name.errors %}
                                                            <span style="color: red;">{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Correo</label>
                                                        <input class="form-control" type="text" value="{{ user.email }}"
                                                               readonly="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Apellidos</label>
                                                        {{ form.last(size=64,class="form-control", placeholder="Apellidos") }}
                                                        {% for error in form.last.errors %}
                                                            <span style="color: red;">{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Teléfono</label>
                                                        {{ form.phone(class="form-control", placeholder="Teléfono") }}
                                                        {% for error in form.phone.errors %}
                                                            <span style="color: red;">{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                {{ form.is_moderator }} Es Moderador<br>
                                                                {% for error in form.is_moderator.errors %}
                                                                    <span style="color: red;">{{ error }}</span>
                                                                {% endfor %}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                {{ form.is_admin }} Es Admin<br>
                                                                {% for error in form.is_admin.errors %}
                                                                    <span style="color: red;">{{ error }}</span>
                                                                {% endfor %}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            <label>
                                                                {{ form.state }} Estado <br>
                                                                {% for error in form.state.errors %}
                                                                    <span style="color: red;">{{ error }}</span>
                                                                {% endfor %}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ form.submit(class="btn btn-primary btn-flat m-b-30 m-t-30") }}
                                            <a href="{{ url_for("admin.list_users") }}" class="btn btn-default btn-flat m-b-30 m-t-30" type="button">Cancelar</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# row -->
                    <!-- /# footer -->
                    {% include 'common/footer.html' %}
                </section>
            </div>
        </div>
    </div>

{% endblock %}



