<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="row">
                <div class="col-md-8">
                    <h5>Partidos de la Liga Santander</h5>
                </div>
                {% if finish=="no" %}
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group input-group-append">
                                <input type="date" class="santander_date form-control" placeholder="Search Round">
                                <span class="input-group-btn">
                                <button data-league="laliga-santander"
                                        class="btn_upd_matches_result btn btn-primary btn-group-right">
                                    <i class="ti-download"></i>
                                </button></span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="bootstrap-data-table-panel">
                <div class="table-responsive">
                    <table id="data-table-santander_matches"
                           class=" table-margin table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th style="width:10%; text-align: center">Jornada</th>
                            <th>Partido</th>
                            <th>Resultado</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th style="text-align: left">Última actualización</th>
                            <th style="text-align: left">Actualizar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in santander %}
                            <tr>
                                <td style="text-align: center"><strong>{{ row.round }}</strong></td>
                                <td style="font-weight: bold">{{ row.team_1_name }} - {{ row.team_2_name }}</td>
                                <td>{{ row.team_1_score }}-{{ row.team_2_score }}</td>
                                <td style="width: 10%;">{{ row.start.strftime('%Y-%m-%d') }}</td>
                                <td>
                                    {% if row.status == "NS" %}
                                        <span class="badge badge-info">Pendiente</span>
                                    {% elif row.status == "FT" %}
                                        <span class="badge badge-success">Terminado</span>
                                    {% else %}
                                        <span class="badge badge-warning">{{ row.status }}</span>
                                    {% endif %}
                                </td>
                                <td style="text-align: left">{{ row.created.strftime('%Y-%m-%d') }}</td>
                                <td style="text-align: left">
                                    {% if not row.status == "FT" %}
                                        <a class="btn_upd_match" style="cursor: pointer" data-id={{ row.match_id }}
                                                data-date={{ row.start.strftime('%Y-%m-%d') }}>
                                            <span class="badge badge-warning">
                                                <i class="ti ti-download"></i>
                                            </span>
                                        </a>
                                    {% else %}
                                        <span class="badge badge-success"><i class="ti ti-check-box"></i></span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>