<footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-footerbar">
        <div class="container">
                <span class="tg-copyright"><a target="_blank"
                                              href="https://www.infosoccer360.com">Info Soccer 360</a></span>
            <nav class="tg-footernav">
                <ul>
                    <li><a href="{{ url_for("frontend.index") }}">Inicio</a></li>
                    <li><a href="{{ url_for("frontend.league_santander") }}">Liga Santander</a></li>
                    <li><a href="{{ url_for("frontend.league_premier") }}">Liga Premier</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>